.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/6dea7743-5586-45d1-89a2-9569b1bb0340/9fac70d6-7da2-4c9c-8d52-10ec226bc6cb/KE-en-20220207-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1010;
      position: relative;
      background-color: rgba(0,0,0,0.6);
      -webkit-transition: background-color .5s;
      -o-transition: background-color .5s;
      -moz-transition: background-color .5s;
      transition: background-color .5s;

      .logo {
        height: 40px;
      }

      .loginButton {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 0.5rem 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 50px;
      width: 40%;
      text-align: center;
    }

    h2 {
      margin: 1rem;
    }

    p {
      font-size: 20px;
    }

    .input {
      width: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input{
          flex: 9;
          height: 100%;
          border: none;
          padding: 0 10px;
      }

      .registerButton{
          flex: 3;
          height: 100%;
          background-color: red;
          border: none;
          color: white;
          font-size: 22px;
          cursor: pointer;
      }
    }
  }
}
